  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>index.html</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
	  <%= javascript_include_tag :defaults %>
	  <%= yield :head %>
  </head>

 
  <body>
  <div class="container">
    <h2>Comprobantes registrados</h2>

       	<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Servicio</th>
					<th scope="col">Fecha de Pago</th>
					<th scope="col">Comentarios</th>
                    <th scope="col">Acciones</th>
                </tr>
			</thead>
			<tbody>
  <% @transaction.each do |t| %>
  <tr>
  	<td><%= t.service %></td>
	<td><%= if (t.date.to_s.length >0) then t.date.to_formatted_s(:long) end %></td>
  	<td><%= t.comments %></td>
  	<td><%= link_to('Editar',edit_transaction_path(t) ) %></td>
  </tr>
  <% end %>
			</tbody>
		</table>

<p>
<%= button_to "Nuevo", new_transaction_path, :class => "btn btn-primary", :method => :get  %>
</p>
  </div>
  </body>
</html>
