  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>show.html</title>
	  <%= javascript_include_tag :defaults %>
	  <%= yield :head %>
  </head>
  <body>
  <%= yield %>
  
  <h1>Comprobante creado correctamente</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Servicio</th>
					<th scope="col">Fecha de Pago</th>
					<th scope="col">Comentarios</th>
                    <th scope="col">Imagen</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= @transaction.service%></td>
					<td><%= if (@transaction.date.to_s.length >0) then @transaction.date.to_formatted_s(:long) end%></td>
					<td><%= @transaction.comments%></td>
                  <td><%= image_tag @transaction.image_name.url %></td>
				</tr>
			</tbody>
        </table>
<%= link_to "Ver todos", transactions_path %>
  </body>
</html>
